<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>400 Bad Argument</title>
		<link th:rel="stylesheet"
			th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
		<link th:rel="stylesheet"
			th:href="@{webjars/font-awesome/5.11.2/css/all.css} " />
		<link th:rel="stylesheet"
			th:href="@{css/custom.css}" />
	</head>
	<body>
		<div class="container my-2">
			 <div class="title">
				<h3 class="title" th:text="#{app.title}">Climate Summary</h3>
			 </div>
			<div class= "center">
				<h4>Requested resources with bad argument. </h4>
				<h6>Try with valid url. </h6>
				<a href="/">Home</a>
			</div>
		</div>
	</body>
</html>