<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>500 Internal error</title>
		<link th:rel="stylesheet"
			th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
		<link th:rel="stylesheet"
			th:href="@{webjars/font-awesome/5.11.2/css/all.css} " />
		<link th:rel="stylesheet"
			th:href="@{css/custom.css}" />
	</head>
	<body>
		<div class="container my-2">
			 <div class="title">
				<h3 class="title" th:text="#{app.title}">Climate Summary</h3>
			 </div>
			<h3>We are sorry for the unexpected error. </h3>
			<h2>Our Engineers are on it. Please Try again later</h2>
			<a href="/">Home</a>
		</div>
	</body>
</html>