<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Climate Details</title>
<link th:rel="stylesheet"
	th:href="@{js/daterangepicker/daterangepicker.css}" />
<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{webjars/font-awesome/5.11.2/css/all.css} " />
<link th:rel="stylesheet"
	th:href="@{css/custom.css}" />
</head>

<body>
	<div class="container my-2">
		 <div class="title">
			<h3 class ="title">Detail information</h3>
		 </div>
		<br />
		<div th:if="${message != null }">
			<h3 class="title" th:text="${message}"></h3>
		</div>
		<div th:if="${climateDetail != null}">
		<table cellpadding="10">
			<tr>
				<td class="thick" >Station Name</td>
				<td th:text="${climateDetail.stationName}"></td>
			</tr>
			<tr>
				<td class="thick">Province</td>
				<td th:text="${climateDetail.province}"></td>
			</tr>
			<tr>
				<td class="thick">Date</td>
				<td th:text="${climateDetail.climateDate}"></td>
			</tr>
			<tr>
				<td class="thick">Mean Temperature:</td>
				<td th:text="${climateDetail.meanTemp}"></td>
			</tr>
			<tr>
				<td class="thick">Highest Monthly Maximum Temperature:</td>
				<td th:text="${climateDetail.hMMTemp}"></td>
			</tr>
			<tr>
				<td class="thick">Lowest Monthly Minimum Temperature</td>
				<td th:text="${climateDetail.lMMTemp}"></td>
			</tr>
		</table>
		
		<div class="container">
			<a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
		</div>
</div>
	</div>
</div>
	
</body>
</html>